<div id="particles-js">

  <div class="content"> 
   <div class="person">
   <img alt="Vibe with" src="https://github.com/Techguy9312/RG/blob/master/assets/img/White%20Knowledge%20Logo-4.png?raw=true" align="middle">   
 </div>
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="icons-header">
        <a aria-label="My Youtube" href="https://www.youtube.com/user/Pops32092/videos"><i class="icon fa fa-youtube"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/eliasknowledge"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/eliasknowledge"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My Soundcloud" target="_blank" href="https://soundcloud.com/eliasknowledge"><i class="icon fa fa-soundcloud" aria-hidden="true"></i></a>
      </div>
      <a class="link" href="#about" data-scroll></a>
      <a class="link" href="#projects" data-scroll></a>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>

<style>
       
       .person img {
    width: 450px;
    height: 330px;
    border-radius: 100%;
    margin-bottom: 10px;
}
  </style>
