<div class="container">
  <div class="user-details">
    <h3>Music</h3>
  </div>
  <div>
    
    <center>
      
      
      
      <script src='https://github.com/Techguy9312/Vibewitheliastest/blob/master/assets/css/player.css'></script>
<div class="player">
  <span class='info'></span>
  <div class="waveform"></div>
  <div class="position"></div>  
</div>

<iframe class="sc-widget" src="//w.soundcloud.com/player/?url=//soundcloud.com/vibewithelias">
      </iframe>
      
      
      
            
       
    </center>  
     
</div>
  
  
